[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/pabloins/nestjs-microservices-client-gateway-insdrums.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/pabloins/nestjs-microservices-auth-ms-insdrums.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/pabloins/nestjs-microservices-orders-ms-insdrums.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/pabloins/nestjs-microservices-payments-ms-insdrums.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/pabloins/nestjs-microservices-products-ms-insdrums.git
